@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700";

.loading {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading img {
    width: 50px;
    height: 50px;

}

.chat {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Open Sans"
}

.main-container {
    display: flex;
    height: 100vh;
}

.conversations__sidebar {
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
    background-color: lightgray;
    width:530px;
}

.conversations__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.text__container {
    float: right;
    width: 100%;
}

.conversation {
    border-bottom: 1px solid #ccc;
    overflow: auto; 
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: block;
}

.conversation__image{
    width: 60px;
    height: 60px;  
    border-radius: 50%;  
    float: left;
}

.names {
    width: 16vw;
    text-overflow: ellipsis;
    padding-left: 5px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    display:inline-block;
}

.conversation__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messages__container {
    padding-top: 10px;
    flex:1;
    flex-grow: 25;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message__input {
    background: lightgrey;
    height: 50px;
    flex-shrink: 0;
}

.message__preview {
    padding-left: 5px;
    padding-right: 10px;
    color: lightslategray;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2;
    font-size: 15px;
}

.time {
    float: right;
    color: lightslategray;
    padding-right: 10px;
    font-size: 15px;
}

.message__sender {
    display: block;
    font-size: 10px;
    padding-top: 3px;
}

.sms__form{
    padding: 10px;
    display: flex;
}

.sms__form input {
    margin-right: 5px;
    width: 100%;
}

.sms__form__elements {
    padding: 1px 6px;
    height: 30px;
}

.message {
    border-radius: 20px 20px 20px 20px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    max-width: 50%;
}
.message.to {
    background-color: #E5E4E9;
    color: #363636;
    margin-left: 80px;
    float: right;
    clear: both;
}

.message.from {
    background-color: #2095FE;
    color: #fff;
    margin-right: 80px;
    float: left;
    clear: both;
}

.message.to + .message.to,
.message.from + .message.from {
  margin-top: -7px;
}

.message:before {
    border-color: #E5E4E9;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 35px, 42px, 0px);
    content: " ";
    height: 40px;
    position: absolute;
    right: -50px;
    width: 30px;
    z-index: -1;
}

.message.from:before {
    border-color: #2095FE;
    left: -50px;
    transform: rotateY(180deg);
}